<hr>
<div class="product-list-container">
	<h5>Product detail</h5>
	<div class="product-detail-list">
		<div class="left">
			<mat-list role="list">
				<mat-list-item role="listitem">Name</mat-list-item>
				<mat-list-item role="listitem">Price</mat-list-item>
				<mat-list-item role="listitem">Category</mat-list-item>
				<mat-list-item role="listitem">Inventory</mat-list-item>
			</mat-list>			
		</div>
		<div class="right">
			<mat-list role="list">
				<mat-list-item role="listitem">{{product.name}}</mat-list-item>
				<mat-list-item role="listitem">{{product.price}}</mat-list-item>
				<mat-list-item role="listitem">{{product.category}}</mat-list-item>
				<mat-list-item role="listitem">{{product.inventory}}</mat-list-item>
			</mat-list>		
		</div>
		
	</div>
</div>
<hr/>
<div id="chart"></div>